<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>Add product</h1>
      <form action="" method="post" enctype="multipart/form-data">
        <div>
          <input
            type="text"
            name="name"
            id=""
            placeholder="ENter product name"
          />
        </div>
        <div>
          <input
            type="text"
            name="description"
            id=""
            placeholder="Enter description"
          />
        </div>
        <br />
        <div>
          <input type="file" name="image" id="" q />
        </div>
        <button>Add</button>
      </form>
    </center>
  </body>
</html>
